<h1>All Orders</h1>
<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>Order ID</th>
      <th>Order date</th>
      <th>Total Amount</th>
      <th>Actions</th>
    </tr>
    <% current_user.orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at %></td>
        <td>$<%= order.get_total %></td>
        <td><%= link_to 'Details', shop_order_path(order) %></td>
      </tr>
    <% end %>
  </table>
</div>
