<table>
  <% @orders.each do |order| %>
    <tr>
      <%= order.user_id %>
      <%= simple_form_for order, url: admin_order_path(order.id) do |f| %>
        <%= f.input_field :status, collection: ["New", "Payment Pending", "Packing", "Shipped"] %>
        <%= f.button :submit, style: "font-size: 0.8em; padding: 3px;" %>
      <% end %>
    </tr>
  <% end %>
</table>