<h1>Paid</h1>
<div class="panel panel-default">
  <%= render partial: 'ordertable', locals: { orders: @paid_orders } %>
</div>

<h1>Packed</h1>
<div class="panel panel-default">
  <%= render partial: 'ordertable', locals: { orders: @packed_orders } %>
</div>

<h1>Shipped</h1>
<div class="panel panel-default">
  <%= render partial: 'ordertable', locals: { orders: @shipped_orders } %>
</div>

<h1>Payment Pending</h1>
<div class="panel panel-default">
  <%= render partial: 'ordertable', locals: { orders: @new_orders } %>
</div>
