<div class="row center">
  <%= link_to "Add", new_admin_product_path, class: "button" %>
</div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="panel panel-default index">

        <div class="panel-heading">
          <%= link_to product.name, admin_product_path(product.slug) %>
        </div>

        <div class="panel-body">
          <%= product.description %>
        </div>

      </div>
    </div>
  <% end %>
</div>
