<h1>
  Performance
</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    Orders for the past 30 days
  </div>
  <div class="panel-body">
    <%= line_chart @dates_count %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Total transaction for the past 30 days
  </div>
  <div class="panel-body">
    <%= line_chart @dates_amount %>
  </div>
</div>

<h1>
  Customers
</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    New customers for the past 30 days
  </div>
  <div class="panel-body">
    <%= line_chart @users_count %>
  </div>
</div>